{% extends 'base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}
<div class="container">
    <p>
        <a href="{% url 'product_add' %}"> Add Product </a>
    </p>
    <div class="row">
        <div class="col-3 menu">
    <table class="table table-striped" border="1">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Sub-Category</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in product %}
            <tr>
                <td><input type="checkbox"></td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.subcategory.name }}</td>
                <td>{{ obj.category.name }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    </div>
    </div>
</div>

{% endblock %}